/* Future use */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono&family=Poppins&display=swap');

.quicksand{
    font-family: 'Quicksand', sans-serif;
}
.roboto{
    font-family: 'Roboto Mono', monospace;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c4c4c4 #212529;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #212529;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }